node_modules
gui/node_modules
.git
.history
test-history
*.md
!README.md
Makefile
start.sh
run.sh
install.sh
.github
grafana-dashboard.json
grafana-docker-compose.yml
grafana-dashboards.yaml
reports
*.log
.DS_Store
